<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO APP</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
</head>
<body>
  <div class="ui container" style="margin-top: 50px">
    <h1 class="ui center aligned header">Todo App</h1>
    <form action="/add" class="ui form" method="POST">
      <div class="field">
        <label for="title">Todo Title</label>
        <input type="text" name="title" placeholder="Enter Todo...">
        <br>
      </div>
      <button class="ui button" type="submit">Add Todo</button>
    </form>
    <hr>
    {% for todo in todo_list %} <!-- the todo_list (var) queries all from the db in the backend-->
    <div class="ui segment">
      <p class="ui big header">{{todo.id}}  | {{todo.title}}</p> <!-- -->
      {% if todo.complete == False %}
      <span class="ui gray label">Not Completed</span>
      {% else %}
      <span class="ui gray label">Completed</span>
      {% endif %}
      <a class="ui yellow button" href="/update/{{todo.id}}">update</a>
      <a class="ui red button" href="/delete/{{todo.id}}">delete</a>
    </div>
    {% endfor %}
  </div>
</body>
</html>